pipeline/ValidationModule.json
{
	"name": "ValidationModule",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('select isCountValidRequired,isDataValidRequired from dbo.ValidationConfig where tablename =''',pipeline().parameters.FileName,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IsCountAndDataValidationRequired",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('Lookup1').output.firstRow.isCountValidRequired,true),equals(activity('Lookup1').output.firstRow.isDataValidRequired,true))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FileCountValidation",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "IsCountValidationRequired",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IsCountAndDataValidationRequired",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('Lookup1').output.firstRow.isCountValidRequired,true),equals(activity('Lookup1').output.firstRow.isDataValidRequired,false))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FileCountValidation",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "IsDataValidationRequired",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IsCountValidationRequired",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('Lookup1').output.firstRow.isCountValidRequired,false),equals(activity('Lookup1').output.firstRow.isDataValidRequired,true))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DataFlowValidation_copy1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DataFlowValidation",
									"type": "DataFlowReference",
									"parameters": {
										"Condition_1": {
											"value": "@activity('Get Config').output.firstRow.ConditionalValue",
											"type": "Expression"
										},
										"Source_Name": {
											"value": "'@{pipeline().parameters.FileName}'",
											"type": "Expression"
										},
										"variables_1": {
											"value": "'@{variables('dummy')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "IsNoValidationRequired",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IsDataValidationRequired",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('Lookup1').output.firstRow.isCountValidRequired,false),equals(activity('Lookup1').output.firstRow.isDataValidRequired,false))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy to valid",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@Concat(pipeline().parameters.FileName,'.csv')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LandingInputfiles",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Valid_OutputDS",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Config",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('select ConditionalValue from dbo.DataValidationConfig where tablename = ''',pipeline().parameters.FileName,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "Sales"
			}
		},
		"variables": {
			"dummy": {
				"type": "Boolean"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-01-30T18:03:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}